_/
correctpony
correcthorse
/obj/
/bin/
*.gz
*.xz
*~
/dist/*/*/*
!/dist/*/*/PKGBUILD
*.swp
*.swo
*.class
*.jar
*.bak
\#*\#
.\#*
*.pdf
*.dvi
*.ps
*.info
/correctpony.aux
/correctpony.cp
/correctpony.cps
/correctpony.fn
/correctpony.ky
/correctpony.log
/correctpony.pg
/correctpony.toc
/correctpony.tp
/correctpony.vr
/correctpony.op
/correctpony.ops
/correctpony.pgs
/correctpony.vrs