_/
/obj/
/bin/
.*
!.git*
*~
*.gz
*.xz
/dist/*/*/*
!/dist/*/*/PKGBUILD
*.swp
*.swo
*.class
*.jar
*.bak
\#*\#
*.pdf
*.dvi
*.ps
*.info
/*.aux
/*.cp
/*.cps
/*.fn
/*.ky
/*.log
/*.pg
/*.toc
/*.tp
/*.vr
/*.op
/*.ops
/*.pgs
/*.vrs
/*.*sh-completion
